<main id="root"></main>
<script type="text/javascript">
  window.staticImages = {
    home: "<%= asset_url "home.png" %>",
    search: "<%= asset_url "search.png" %>",
    github: "<%= asset_url "github.png" %>"
  }
</script>
