// Place all the styles related to the api/images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.images-list {
	list-style-type: none;
}

.image {
	height: 40vmin;
	width: 50vmin;
	border-radius: 4px;
}

#topic-images {
	margin-top: -8vh;
	margin-right: 7vw;
}

#subject-images {
	margin-top: 2vh;
	margin-right: 10vw;
	.image {
		width: 40vmin;
	}
}
