.navbar {
	height: 6vh;
	background-color: $primary_color;

	img {
		height: 4vh;
	}

	.navigation-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.btn-secondary {
		background-color: inherit;
		color: $secondary_color;
		border-color: $secondary_color;
	}

	.btn-secondary:hover {
		background-color: $quaternary_color;
	}

	button:active {
		background-color: white;
	}
}

.btn {
	color: $secondary_color;
	border-color: $secondary_color;
}

.btn:hover {
	background-color: $quaternary_color;
}
