// Place all the styles related to the api/searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.result-title {
	margin: 1% 0;
	font-family: 'Jua';
	font-size: 300%;
}

#found-nothing {
	margin-left: -3vw;
	font-size: 300%;
}

.result-item {
	list-style: inside;
	text-align: left;
	margin-left: 2%;
	padding: 0.25% 0%;

	a {
		display: inline;
	}

	a:hover {
		text-decoration: underline;
	}
}
