// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.session-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 2px solid $quaternary_color;
	border-radius: 5px;
	height: 30vh;
	width: 18vw;
	min-height: 300px;
	min-width: 320px;
	margin: auto;
	margin-top: 1%;

	form {
		margin-bottom: 6%;
	}

	.form-group {
		margin-top: 4%;
	}

	.session-buttons {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
}
