// Place all the styles related to the api/subjects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.subject-list {
	margin-top: 0.5%;

	.subject-item {
		list-style: inside;
		text-align: left;
		margin-left: 4%;
		padding: 0.25% 0%;

		a {
			display: inline;
			margin-left: -1.25%;
		}

		a:hover {
			text-decoration: underline;
		}
	}
}

.subject-title {
	font-family: 'Jua';
	font-size: 300%;
}

.subject-notes {
	font-family: 'Nunito';
}
