// Place all the styles related to the api/subjects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.subjects-grid {
	padding: 0;
	width: 100vw;
	height: 90vh;
	overflow: hidden;
	list-style-type: none;
	display: grid;
	justify-content: center;
	align-content: center;
	grid-template-columns: repeat(2, 30vmin);
	grid-template-rows: repeat(2, 30vmin);

	li {
		font-family: 'Jua';
		font-size: 150%;
		.subject-image {
			padding: auto;
			margin: auto;
			height: 80%;
			width: 80%;
			border-radius: 4px;
		}
	}
}

.subject-image {
	margin-top: 6vh;
	margin-right: 12vw;
	height: 40vmin;
	width: 40vmin;
	border-radius: 4px;
}
