// Place all the styles related to the api/topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.details-container {
	margin: 4vh 4vw 8vh 4vw;
	width: 100%;

	div {
		text-align: left;
		white-space: pre-wrap;
	}
}

.topic-notes {
	img {
		// min-height: 230px;
		// min-width: 390px;
		// width: 27vw;
		// height: 28vh;
		// display: block;
		max-height: 50vh;
		margin: 2vh 0;
	}
	img[alt$='}'] {
		float: right;
		margin-left: 2vw;
	}

	img[alt$='{'] {
		margin-left: 1vw;
	}

	img[alt$='{}'] {
		display: block;
		max-width: 100%;
		height: auto;
		margin: auto;
		float: none !important;
	}
	// h1 {
	// 	display: block;
	// 	text-align: center;
	// 	padding: 2vh 0;
	// }
	em {
		// display: block;
		// width: 50%;
		// text-align: center;
		margin: 1vh 0;
	}
	// code {
	// 	overflow: auto;
	// }
}

.top-card {
	border-top: thick double lightgrey;
	font-family: 'Jua';
	margin-top: 2.5vh;
	font-weight: 600;
	font-size: 150%;
}

.col {
	margin: 0.5% 0;
}
