// Place all the styles related to the api/topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.details-container {
	margin-top: 3vh;
	margin-left: 4vw;
	width: 60%;

	div {
		text-align: left;
		white-space: pre-wrap;
	}
}

.top-card {
	border-top: thick double lightgrey;
	font-family: 'Jua';
	margin-top: 2vh;
	font-weight: 600;
	font-size: 150%;
}

.col {
	margin: 0.5% 0;
}
