// Place all the styles related to the api/weeks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.weeks-list {
	min-width: 4rem;
}

.nav-tabs {
	width: 60vw;
	.nav-link {
		width: 10vw;
	}
}

.tab-content {
	margin: 2vh 0 0 2vw;
}

.tab-pane {
	text-align: left;
	font-size: 150%;
	font-weight: 600;
	li {
		margin-left: 2vw;
		font-size: 75%;
		font-weight: 400;
	}
}
