$primary_color: #ff3850;
$secondary_color: #f4f4ef;
$tertiary_color: #acbebe;
$quaternary_color: #20232a;

#app {
	display: flex;
	text-align: center;
	flex-direction: column;
	height: 100vh;
	background-color: $secondary_color;
	font-family: 'Nunito';
}

.main {
	margin-top: 12%;
	display: flex;
	text-align: center;
	flex-direction: column;
	color: $quaternary_color;

	h1 {
		font-size: 350%;
		font-weight: 650;
	}

	h2 {
		margin-top: 1.5%;
		font-size: 200%;
		font-weight: 450;
	}
}

.title {
	margin: 1% 0;
	font-family: 'Jua';
	font-size: 300%;
}

.show-container {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.show-title {
	margin: 1% 0;
	font-family: 'Jua';
	font-size: 300%;
}

.show-item {
	list-style: inside;
	text-align: left;
	margin-left: 2%;
	padding: 0.25% 0%;

	a {
		display: inline;
	}

	a:hover {
		text-decoration: underline;
	}
}

.studyset-header {
	text-align: left;
	font-weight: 600;
	font-size: 150%;
	margin: 1% 0;
}

.studyset-list {
	margin-left: 4vw;
}
